p {
    font-size: 2.0rem;
    text-align: "center"
}

h1 {
    background: grey
    text-align: "center"
}
.special {
    background: green;
    color: blue;
    text-align: "center"
}


.main {
    border: 10px solid black;
}